$color-purple-1 : #7474bf;
$color-blue-1 : #348ac7;
$color-blue-2 : #093a5d;
$color-orange-1 : #ff963c;
$color-dark-1 : #2e2e2e;
$color-dark-2 : #848484;
$color-dark-3 : #f1f1f1;
$color-green-2 : #53d415;
$color-green-1 : #8ed46c;
$box-shadow: 0px .2rem .5rem rgba(0, 0, 0, .2);
$box-shadow-2: 0px 0rem 2rem rgba(0, 0, 0, .1);
$box-shadow-3: 0px .4rem 3rem rgba(0, 0, 0, .2);